body {
  font-family: 'Anton', sans-serif;
  font-size: 32px;
  line-height: 1.5;
  background-color: #000000;
  color: #ffffff;
  margin: 40px auto 40px auto;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

header {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 1;
}

@keyFrames fadein {
  0% { opacity:  0;}
  100%{ opacity: 1;}
}

img {
  position: absolute;
  top: 500px;
  left: 400px;
  transform: translate(-50%, 50%) scale(0.5) rotate(10deg);
  animation: fadein 0.5s;
}
